.cardContainer{
    display:inline-table;
    margin-top: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 21%;
    height: 500px;
    border-radius: 25px;
    background: #fffdef;
}
.divImg{
    height: 50%;
    width: 100%;
     
}
.name{
    font-style: oblique;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    width: 100%;

}


  