.divBody{
    background-image: url("../../images/from.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    width: 100vw; 
    height: 100vh;
}
.divForms{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    

}

.divInputForms{
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.divInputname{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.buttonSubmitForm{
    background: linear-gradient(135deg, rgba(212, 235, 12, 0.596), rgba(10, 1, 1, 0.582));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    border: none; 
    color: rgb(180, 101, 10);
    padding: 12px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 8px 0; 
    transition-duration: 0.2s; 
    cursor: pointer; 
    border-radius: 50%; 
    height: 20%;
    box-shadow: 0 8px 32px 0 rgba(238, 188, 22, 0.699);

}

.inputForms{
    border-radius: 5px;
    margin-right: 10px;
    width: 150px;
    transition: width 0.3s ease-in-out;
}

/* .inputForms:focus {
    width: 250px;
} */

.labelForms{
    margin-right: 1rem;
    min-width: 100px;
    display: flex;
}



.spanInputError{
    color: red;
    font-weight: bold;
    font-size: .8rem;
}

.divContent{
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}

.dateRecipes{
    background: linear-gradient(135deg, rgba(255, 250, 250, 0.192), rgba(10, 1, 1, 0.582));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.986);
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    justify-content: center;
    border-radius: 32px;
    color: #f1faee;
    align-items: center;
}

.dateDiets{
    color: #f1faee;
    background: linear-gradient(135deg, rgba(255, 250, 250, 0.192), rgba(10, 1, 1, 0.582));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.856);
    height: 80%;
    width: 40%;
    justify-content: center;
    border-radius: 32px;
    margin-left: .5rem;

}

.divMappingDietsForms{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 1rem;
    margin-right: .5rem;
}

.divButtonAndImgForms{
    display: flex;
    justify-content: end;
    align-items: end;
}